#comment {
  height: 100vh;
  padding: 16px;
}

.comment__title {
  width: 100%;
  height: 5vw;
  font-size: 4vw;
  line-height: 1;
  border-bottom: 0.4vw solid var(--sub-color);
  margin-bottom: 16px;
  font-family: "Partizeno";
}

.comment__inner {
  padding: 16px;
  display: flex;
  gap: 10%;
  font-family: "IropkeBatang";
}

.comment__input {
  width: 50%;
  display: flex;
  flex-direction: column;
}


fieldset {
  display: flex;
  flex-direction: column;
}

.login {
  display: flex;
  gap: 2.5%;
}

#commentName {
  padding: 15px 8px;
  border-radius: 10px;
}

#commentPass {
  padding: 15px 8px;
  border-radius: 10px;
}

textarea {
  padding: 20px 15px;
  height: 30%;
  resize: none;
  border-radius: 10px;
}

#commentName,
#commentPass,
textarea {
  width: 100%;
  margin-bottom: 8px;
}

button {
  cursor: pointer;
  padding: 8px;
  background-color: var(--sub-color);
  color: var(--main-color);
  border: none;
  transform: all 3s;
  border-radius: 10px;
}

button:hover {
  background-color: #ebd9ba;
}

.text {
  margin-bottom: 16px;
}

.text>span {
  position: relative;
}

.text>span::before {
  content: "🎵";
  position: absolute;
  right: 10px;
  top: 8px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}

.author {
  font-weight: bold;
  margin-left: 15px;
}

.data {
  margin-left: 10px;
  color: gray;
}

.mode {
  padding: 5px;
  margin: 10px 0;
  border-top: 1px dashed var(--sub-color);
  margin-bottom: 15px;
}

.modify,
.delete {
  color: var(--sub-color);
}

.modify:hover,
.delete:hover {
  text-decoration: underline;
}

/* ---------------------------------/ comment__pages /-------------------------- */
.comment__pages {
  margin-top: 30px;
}

.comment__pages>ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.comment__pages>ul>li {
  margin-right: 5px;
}

.comment__pages>ul>li>a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  color: var(--sub-color);
  border-radius: 3px;
}

.comment__pages>ul>li.active>a,
.comment__pages>ul>li:hover>a {
  background-color: var(--sub-color);
  color: var(--main-color);
}

.comment__pages>ul>li.next>a,
.comment__pages>ul>li.prev>a {
  font-weight: bold;
}

@media screen and (max-width: 1262px) {
  .comment__pages {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1150px) {
  .comment__pages {
    font-size: 0.7em;
  }
}



@media screen and (max-width: 1130px) {
  .comment__pages>ul>li:not(.first):not(.prev):not(.next):not(.last) {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .comment__pages {
    display: none;
  }

  .comment__inner {
    flex-direction: column;
    align-items: center;
  }

  .comment__view {
    margin-top: 20px;
  }
}

/* 이미지 */
.hover08>figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover08 figure img {
  margin-top: 20px;
  border-radius: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 80%;
  height: 80%;
}

.hover08 figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}