#contact {
    height: 100vh;
    position: relative;

}

.contact__title {
    z-index: 10;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact__title .title1 {
    font-size: 11vw;
    line-height: 0.7;
    font-weight: 800;
    white-space: nowrap;
    font-family: "Partizeno";
}

.contact__title .title2 {
    font-size: 13vw;
    line-height: 1;
    font-weight: 800;
    white-space: nowrap;
    font-family: "Partizeno";
}

.contact__title .title3 {
    font-size: 3vw;
    font-style: italic;
    line-height: 1;
    white-space: nowrap;
    font-family: "Orbitron";
}

canvas {
    z-index: -10;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(40%);
    /* overflow: hidden; */
    width: 100%;
}