#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: #00000000;
}


.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Abel";
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  backdrop-filter: blur(15px);
  text-align: center;
  line-height: 1;
}

.header__nav {
  cursor: pointer;
}

/* 풀스크린 메뉴 */
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #e9dfcee6;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 8px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: var(--main-color);
  position: relative;
}

.overlay ul li a::before,
.overlay ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  bottom: 0;
  background-color: var(--main-color);
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}

.overlay ul li a:hover::before,
.overlay ul li a:focus::before,
.overlay ul li a:hover::after,
.overlay ul li a:focus::after {
  height: 8%;
}

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  .overlay ul li {
    min-height: 34px;
  }
}