#info {
  width: 100%;
  margin-top: 10vh;
  overflow: hidden;
  padding: 16px;
}

.info__inner {
  padding: 16px;
}

.info__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 4500px;
  margin-bottom: 10vh;
}

.info__item {
  width: 500px;
  height: 80vh;
  padding: 2.5rem;
  margin-right: 20px;
}

.info__item .num {
  font-size: 2rem;
  font-family: "Partizeno";
}

.info__item .img {
  display: block;
  border-radius: 5px;
}

.info__item .title {
  font-family: "IropkeBatang";
  font-size: 1.5rem;
  text-align: center;
  padding: 0.8rem 0;
  border-bottom: 2px solid var(--sub-color);
  margin-bottom: 1rem;
}

.info__item .desc {
  font-family: "IropkeBatang";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}
