.mouse__wrap {
    cursor: none;
}

.mouse__cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgba(233, 223, 206, 0.6);
    border-radius: 0;
    transform: rotate(-45deg);
    user-select: none;
    pointer-events: none;
}

.mouse__cursor.active {
    transform: scale(7);
    background-color: rgba(233, 223, 206, 0.45);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 50%;
    z-index: 10001;
}