body::-webkit-scrollbar {
    width: 15px;
    /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 10%;
    /* 스크롤바의 길이 */
    background: #e6c79e;
    /* 스크롤바의 색상 */

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(88, 50, 120, .1);
    /*스크롤바 뒷 배경 색상*/
}

body {
    overflow-x: hidden;
}